<div class="post <{CLASSES}> listed_post">
  <div class="container">
      <div class="top">
          <div class="meta">
             <a href="<{POST_DATE_LINK}>">
               <span class="date_cal">
                 <{POST_DATE_TEXT}>
               </span>
             </a>
          </div>
      </div>
      <div class="content">
          <{POST_CONTENT}>
      </div>
      <div class="info">
          <div>
              Posted by <{POST_POSTER_TEXT}> in <a class="category" href="<{POST_CATEGORY_LINK}>"><{POST_CATEGORY_TEXT}></a>
          </div>
          <div>
              <{POST_TAGS}>
          </div>
          <{POST_SOCIAL_BUTTONS}>
      </div>
      <{IF IS_ADMIN}>
      <div style="text-align:center">
        <a href="/dash/dashboard/view/edit-content/<{FRIENDLY_NAME}>"><button>Edit content</button></a>
        <a href="/dash/dashboard/view/delete-content/<{FRIENDLY_NAME}>"><button>Delete content</button></a>
      </div>
      <{END IF}>

  </div>
</div>
